# Xcode
xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.xccheckout
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
build/
*.ipa
*.dSYM.zip
*.dSYM
.DS_Store

# CocoaPods
Pods/

# Carthage
Carthage/Build/
